{% extends "base.html" %}
{% block content %}
    <div class="row col-12 mb-4">
        <div class="col-6">
            <form method="post">
                <legend>Set your new password</legend>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <span>{{ form.errors.new_password2 }}</span>
                    </div>
                {% endif %}
                {% csrf_token %}
                <div class="form-group row">
                    <label for="new_password1" class="col-sm-4 col-form-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" required class="form-control form-control-sm" id="new_password1"
                               name="new_password1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="new_password2" class="col-sm-4 col-form-label">Confirm Password</label>
                    <div class="col-sm-8">
                        <input type="password" required class="form-control form-control-sm" id="new_password2"
                               name="new_password2">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="new_password2" class="col-sm-4 col-form-label"></label>
                    <div class="col-sm-8">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}